---
# Add APT repositories
# Uses data-driven approach from vars/apt_repositories.yml

###############################################################################
# Add all needed APT repositories
###############################################################################

- name: Add APT repositories
  apt_repository:
    repo: "{{ item.repo | replace('__ARCH__', dpkg_arch.stdout) | replace('__RELEASE__', ansible_distribution_release) | replace('__VERSION__', ansible_distribution_version) }}"
    state: present
    filename: "{{ item.filename }}"
  loop: "{{ repos_needed }}"
  loop_control:
    label: "{{ item.name }}"
  become: yes
  tags: ['repositories']

###############################################################################
# Update apt cache after adding repositories
###############################################################################

- name: Update apt cache after adding repositories
  apt:
    update_cache: yes
  become: yes
  tags: ['repositories']
