{{- if eq .profile "work" -}}
[global]
index-url = https://artifactory.dbgcloud.io/artifactory/api/pypi/pypi.python.org/simple
trusted-host = pypi.org
    artifactory.dbgcloud.io
extra-index-url = https://pypi.org/simple
{{- end -}}
